# Compiler files
cache/
out/

# Broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Node
node_modules/
**/node_modules/

# The Graph subgraph build artifacts
subgraph/build/
subgraph/generated/

# OS
.DS_Store
**/.DS_Store
